* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: addedFont;
    src: url(Poppins-Bold.ttf);
}

html {
    color: gray;
    font-size: 32px;
    font-family: addedFont;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;

    background-color: #e6e4e4;
    flex-wrap: nowrap;

}

.main {
    display: flex;
    align-items: flex-start;
    height: 65%;
    width: 33%;
    padding: 2.5vh;
    border-radius: 2%;
    border-bottom-right-radius: 25%;
    background-color: white;

}

.text-input {
    font-size: 1rem;
    height: 5vh;
    width: 7.5vw;
    border-radius: 8%;
    border: 1px solid #e6e4e4;
    outline: none;
    margin-left: 1vw;
}

.text-input:focus {
    border: 1px solid black;
}

label,
.text-input,
.line {
    margin-left: 1vw;

}

label {
    font-size: 0.5rem;
    z-index: 2;
    width: 2vw;
    margin-left: 1vw;
    position: relative;

}

.required {
    font-size: 0.3rem;
    color: lightsalmon;
    visibility: hidden;
}

.button {
    height: 10vh;
    width: 10vh;
    border-radius: 5vh;
    background-color: #864cff;
    cursor: pointer;
}


.button:hover {
    background-color: black;
}

.line {
    display: flex;
    height: 1%;
    width: 25vw;
    background-color: lightgray;
    margin-top: 4.2vh;
}

#yearResult,
#monthResult,
#dayResult {
    color: #864cff;
    font-size: 1.5rem;
    margin-top: 3vh;
    margin-left: 1.8vh;
}

.yearLabel,
.monthLabel,
.dayLabel {
    color: black;
    font-size: 2rem;
    margin-left: 2vw;
}

@media only screen and (max-width: 1050px) {
    html {
        font-size: 28px;
    }


}


@media only screen and (max-width: 450px) {
    html {
        font-size: 18px;
    }

    .main {
        width: 60%;
        height: 45%;
    }

    .line {
        width: 45vw;
        margin-top: 2.3vh;
        position: relative;
        z-index: 1;
    }

    .text-input {
        width: 18.5vw;
    }

    .button {
        width: 5vh;
        height: 5vh;
        border-radius: 5vh;
        z-index: 2;
        justify-self: center;
    }

    #yearResult,
    #monthResult,
    #dayResult {
        margin-top: 1.5vh;
        margin-left: 1.8vh;
    }


}

.wrap {
    display: flex;
    flex-wrap: wrap;
}


.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}